@model Contracts.Requests.HomePageRequest


@{
    ViewData["Title"] = "Home";
}

<h1>This is a website</h1>

<select>
    @foreach (var tag in Model.Tags) // Tags are ordered alphabetically (A->Z) from db
    {
        <option value="@tag.Id">@tag.Name</option>
    }
</select>

<form method="POST" action="@Url.Action("New", "Home")">
    <button type="submit">New recipe</button>
</form>

<div id="recipe-list"></div>
<div class="flex-container">

@foreach (var recipeCard in @Model.RecipeCards)
{
    <a class="recipe-card" href="/recipe/@recipeCard.Id">
        <div class="container-img">
            <img src="@recipeCard.ImagePath" alt="@recipeCard.Title"/>
        </div>
        <div class="container-heading"><b>@recipeCard.Title</b></div>
        <div class="container-description">@recipeCard.Description</div>
    </a>
}

</div>





<!-- 
<div id="recipe-list"></div>
<div class="flex-container">
     Include your JavaScript
    <script src="~/js/site.js"></script>
</div>
-->
